<h2>We at Jungle like to think that we're better than everyone else.</h2>
<p>It all started with a dream, I told myself that I'd be the richest man to ever live. Ever since I was two years old, I wanted to swim in a pool. The shark-infested South Pine channel was the only way in or out.
She did not cheat on the test, for it was not the right thing to do.
Wisdom is easily acquired when hiding under the bed with a saucepan on your head.
8% of 25 is the same as 25% of 8 and one of them is much easier to do in your head.
Combines are no longer just for farms.
He barked orders at his daughters but they just stared back with amusement.
Iguanas were falling out of the trees.
Peanut butter and jelly caused the elderly lady to think about her past.
The elephant didn't want to talk about the person in the room.
Don't piss in my garden and tell me you're trying to help my plants grow.
25 years later, she still regretted that specific moment.
Bill ran from the giraffe toward the dolphin.
She can live her life however she wants as long as she listens to what I have to say.
You bite up because of your lower jaw.
The quick brown fox jumps over the lazy dog.
The beauty of the African sunset disguised the danger lurking nearby.
He had concluded that pigs must be able to fly in Hog Heaven.
She wasn't sure whether to be impressed or concerned that he folded underwear in neat little packages.
Nobody loves a pig wearing lipstick.
He was disappointed when he found the beach to be so sandy and the sun so sunny.</p>
